# Starknet Sepolia RPC endpoint
NEXT_PUBLIC_RPC_URL=https://api.cartridge.gg/x/starknet/sepolia

# Operator account for BN128 root submission (privacy: root submitted by operator, not withdrawer)
OPERATOR_ADDRESS=0x030b1bf2b51efcf4abdadac496c016468c1249af2ac06ace0c905c1406a74f81
OPERATOR_PRIVATE_KEY=
